<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	
  <test thread-count="5" name="Test">
    <parameter name
    <classes>
      <class name="com.auto.AutomationMain"/>
      <class name="com.auto.service.impl.AutoFunctionImpl"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
